@{
    ViewBag.Title = "Index";
}

<h2>sample</h2>
@Html.ActionLink("Pdf with heading, paragraph, image, hyperlink and table", "Index", "Pdf")<br />

@Html.ActionLink("Generate a PDF and save it on the server side, while showing a regular page", "SaveTo","Pdf")